.hamburger-icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .line {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 4px;
    background-color: $white;    
  }

  &.is-open {    
    .line {
      &:first-child {
        transform: translateY(9px) rotate(45deg) ;
      }
      &:last-child {
        transform: translateY(-12px) rotate(-45deg);
      }

      &:nth-child(even) {
        opacity: 0;
      }
    }
  }
}

@media($large) {
  .hamburger-icon {
    display: none;
  }
}