.nav-menu {
  z-index: 0;

  .menu-list {
    position: fixed;
    background-color: $black;
    width: 100%;
    right: 0;
    top: 90px;
    margin: 0; 
    padding: $basePad 0; 
    box-sizing: border-box; 
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &:after {
      content: '';
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba($black, 0.5);
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in;
      transition-delay: 0.3s;
      visibility: hidden;
    }

    li {
      text-align: center;

      a {
        display: block;
        width: 100%;
        padding: $basePad 0;
        color: $white;
        text-decoration: none;
        font-weight: $fontWeightBold;
        border-bottom: 1px solid rgba($white, 0.5);
      }

      .join-button {
        margin: $basePad;
        font-size: 14px;
      }
    } 
    
    &.is-open {
      transform: translateX(0);

      &:after {
        opacity: 1;
        visibility: visible;
        transition-delay: 0;
      }
    }
  }
}

@media($large) {
  .nav-menu {
    .menu-list {
      transform: translateX(0);
      position: static;
      padding: 0;
      background-color: transparent;

      &:after {
        display: none;
      }

      li {
        display: inline-block;

        a {
          border-bottom: none;
          font-weight: $fontWeightRegular;
          padding: 0 $basePad;
          line-height: 1; 
          width: auto;
          font-size: 14px;

          &:after {
            content: '';
            width: 0;
            height: 1px;
            background-color: $mainColor;
            transition: width 0.2s ease-in-out;
            display: block;
            margin-top: 2px;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }

        &:first-child {
          a {
            border-right: 1px solid $white;                     
          }
        }
      }
    }
  }  
}