.footer-container {
  background: {
    image: url('../../assets/images/footer-bg.jpg');
    position: center center;
    size: cover;
    repeat: no-repeat;
  }
  padding: $basePad;

  .content-grid {

    .grid-col {
      margin: 0;
      font-weight: $fontWeightLight;
      font-size: 14px;
      text-align: center;
      
      &:not(:last-child) {
        margin-bottom: $basePad;

        &:after {
          content:'';
          width: 70%;
          height: 2px;
          background-color: $white;
          display: block;
          margin: $basePad auto 0;
        }
      }
    }
  }  
}

@media($large) {
  .footer-container {
    padding: $basePadLarge 0;

    .content-grid {
      max-width: $maxWidthLarge;
      margin: 0 auto;
      padding-left: $basePadLarge;
      display: flex;

      .grid-col {
        width: calc(100% / 3);
        text-align: left;
        font-size: 22px;
        box-sizing: border-box;
        padding: 0 90px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0;
          border-right: 1px solid $white;

          &:after {
            display: none;
          }
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}