// Typography
$baseFont: 'Roboto', sans-serif;
$fontWeightLight: 300;
$fontWeightLightItalic: 300i;
$fontWeightRegular: 400;
$fontWeightBold: 700;

// Color Palette
$black: black;
$white: white;
$gray: #8d8a89;
$mainColor: #ec1828;

// Sizes
$basePad: 20px;
$basePadLarge: 50px;
$maxWidth: 500px;
$maxWidthMedium: 870px;
$maxWidthLarge: 1440px;

// Media queries
$large: 'min-width: 1024px';

//Icons 
$arrowDown: url('../../assets/images/arrow.svg');