.main-content {
  background: {
    image: url('../../assets/images/bg.jpg');
    position: center top;
    size: cover;
    repeat: no-repeat;
  }
  min-height: calc(100vh - 90px);
  padding: 0 20px;
  display: flex;
  align-items: center;

  .main-content-wrapper {
    max-width: 500px;
    margin: 0 auto;

    &:before {
      content: '';
      width: 90%;
      height: 3px;
      margin: 0 auto;
      display: block;
      background-color: $mainColor;
    }

    .content-text {
      font-weight: $fontWeightBold;
      font-size: 20px;
      text-shadow: 2px 2px 2px rgba($black, 0.5);
      text-align: center;
      margin: $basePad 0;
    }

    .content-grid {
      .grid-col {
        text-align: center;

        &:not(:last-child) {
          &:after {
            content: '';
            display: block;
            width: 70%;
            margin: 0 auto;
            height: 2px;
            background-color: $gray;
            margin-top: $basePad;
          }
        }

        &.cta {
          margin-bottom: $basePad;

          .cta-button {
            font-size: 15px;
            // padding: $basePad;
          }

          i {
            font-weight: $fontWeightLight;
            font-size: 12px;
            display: block;
          }
        }

        &.summer-slam {
          display: flex;
          align-items: center;
          justify-content: center;
          
          .summer-slam-logo {
            margin-right: $basePad;
            text-align: center;

            img {
              width: 100%;
              max-width: 150px;
            }
          }

          p {
            text-align: left;

            span {
              &:first-child {
                text-transform: uppercase;
                color: $mainColor;
                display: block;
              }
            }
          }
        }
      }
    }

    .scroll-down-icon {
      padding: $basePad;
      
      &:before {
        content: $arrowDown;
        display: block;
        width: 46px;
        margin: 0 auto;
      }
    }
  }

  p {
    margin: 0;
  }
}